<ion-view view-title="Fazer Denúncia">
    <ion-content>
        <div class="list card item-text-wrap">
            <div class="item item-divider">
                Dados da Obra
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nome da Obra</span>
                        <input type="text" placeholder="Nome da Obra">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Valor</span>
                        <input type="text" placeholder="Valo">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Tempo Estimado de Término</span>
                        <input type="text" placeholder="Tempo Estimado de Término">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Denúncia</span>
                        <input type="text" placeholder="Denúncia">
                    </label>
                </div>
            </div>
            <div class="item item-divider">
                Localização
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Localização</span>
                        <input type="text" placeholder="Localização">
                    </label>
                </div>
            </div>
            <div class="item item-divider">
                Registro de fotografia
            </div>
            <button class="button button-block button-positive">
                TIRAR FOTO
            </button>
            <button class="button button-block button-positive">
                ABRIR GALERIA
            </button>
        </div>

    </ion-content>
</ion-view>
