<ion-view view-title="TôDeOlho">
    <ion-content style="background-color: #1659bf;" overflow-scroll="true">
        <div class='embed-container' style="text-align: center">
            <img class="full-image" style="width: 200px; margin-top: 70px;" src="img/logo_todeolho.png">
        </div>
        <div class='embed-container' style="text-align: center; margin-top: 50px">
            <a href="#/app/mapa">
                <img class="full-image" style="width: 300px;" src="img/buscar.png">
            </a>
        </div>
        <div class='embed-container' style="text-align: center">
            <a href="#/app/playlists">
                <img class="full-image" style="width: 300px;" src="img/favoritos.png">
            </a>
        </div>
    </ion-content>
</ion-view>
